body {
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.layout {
    display: flex;
    height: 100vh;
    background-color: #f4f7f9;
    font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
}

.layout__map-area {
    flex: 3;
    background-color: white;
    margin: 16px;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    border: solid 8px #fff;
}

.layout__form-area {
    flex: 1;
    background-color: white;
    margin: 16px;
    padding: 24px;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.layout__title {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 24px;
    text-align: center;
}