body {
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.layout {
    display: flex;
    height: 100vh;
    background-color: #f4f7f9;
    font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
}

.layout__map-area {
    flex: 3;
    background-color: white;
    margin: 16px;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    border: solid 8px #fff;
    height: 100vh;
    box-sizing: border-box;
}

.layout__form-area {
    flex: 1;
    margin: 8px;
    display: flex;
    flex-direction: column;
    align-items: left;
}

.layout__title {
    font-size: 28px;
    font-weight: bold;
    margin-bottom: 20px;
    text-align: left;
    line-height: 1.3;
}
.layout__title span {
    display: block;
}