.layer-editor-root {
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  background: #f0f2f5;
}

.layer-editor-sidebar {
  background: #fff;
  padding: 16px;
  height: 100vh;
}

.layer-editor-content {
  background: #f0f2f5;
  padding: 16px;
  height: 100vh;
}
